@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}


header ul{
    list-style: none;
    background-color: #22438c;
}

header ul li{
    display: inline-block;
    position:relative;
}

header ul li:not(ul.dropdown li) {
    margin-right: 10px; 
}


header ul li a{
    display: block;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

header ul li ul.dropdown li{
    display: block;
}

header ul li ul.dropdown{
    width: 100%;
    background: #22438c;
    position: absolute;
    z-index: 999;
    display: none;
}

header ul li a:hover{
    background: #112c66;
}

header ul li:hover ul.dropdown{
    display: block;
}

.content {
    margin: 100px auto 0;
    max-width: 50%;
    font-size: 18px;
}

.content h2{
    text-align: center;
    margin: 25px;
}

.content p{
    text-align: justify;
    margin: 10px;
}

.content ul,ol{
    text-align: justify;
}

.content li{
    margin: 15px;
}

.infografia{
    max-width: 40%;
    width: 100%;
    margin: 0 auto;
}

.infografia img{
    width: 100%;
    max-height: 40vw;
}

.prompts{
    max-width: 100%;
}